@import url('https://fonts.googleapis.com/css2?family=Boldonse&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import 'tailwindcss';

:root {
    background-color: #EF3340;
    font-family: Inter, Arial, Helvetica, sans-serif;
}

@keyframes openanim {
    0% {
        width: 0%;
    }
    100% {
        width: 50%;
    }
}

@keyframes fadeout {
  100% {
    opacity: 0;
  }
}

@keyframes fadein {
  100% {
    opacity: 100;
  }
}

@keyframes slideup {
  0% {
    opacity: 100;
    transform: translateY(50vh);
  }
  100% {
    transform: translateY(-25vh);
    opacity: 100;
  }
}

@keyframes expand2 {
  100% {
    width: 100%;
  }
}

@media (width >= 48rem ){
  #center {
      animation: openanim 3s 1s forwards, expand2 1s linear 5s forwards;
  }
  #hiddentitle {
    animation: showtitle forwards 1s linear;
    animation-delay: 3s;
  }
}

#hiddentitle {
   font-family: Boldonse;
}
@keyframes showtitle {
    0% {
        opacity: 0%;
    }
    100% {
        opacity: 100%;
    }
}
